<div class="hero">
	<div class="hero-over">
		<div class="hero-inner">
			<div class="hero-copy">
				<h1>Find your new favorite piece.</h1>
			</div>
		</div>
	</div>
</div>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <%= image_tag "icons/list_2.png", alt: "List" %>
    </div>
    <div class="bullet-content">
      <h2><%= link_to 'Browse', pieces_path %></h2>
      <p>Browse our extensive database of ten thousand pieces for nine instruments, featuring nearly two thousand composers. Regularly maintained and added to, we have all the information you could need on a piece of music.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <%= image_tag "icons/magnifying_glass.png", alt: "Magnifying glass" %>
    </div>
    <div class="bullet-content">
      <h2><%= link_to 'Search', search_path %></h2>
      <p>If you're not quite sure what you're looking for, check out our search functionality, which allows you to find a piece that will match your needs.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <%= image_tag "icons/users.png", alt: "Users" %>
    </div>
    <div class="bullet-content">
      <h2><%= link_to 'Community', categories_path %></h2>
      <p>Our active network of knowledgeable users are eager to help with any questions you have. Any contribution you can make to the community is valued!</p>
    </div>
  </li> 
</ul>
<!-- <div class="grid">
	<div class="grid-items">
	  <a href="javascript:void(0)" class="grid-item">
	    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
	    <h1>Grid Item</h1>
	    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
	  </a>
	  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
	    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
	    <h1>Grid Item With an Image</h1>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
	  </a>
	   <a href="javascript:void(0)" class="grid-item grid-item-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    <h1>Another Wide Item</h1>
    <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    <h1>Last Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
	</div>
</div> -->